* {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #111223;
}

body::-webkit-scrollbar {
  width: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply bg-white text-black;
  }

  section {
    @apply py-10 bg-white;
  }

  footer {
    @apply bg-white text-black;
  }
}

@layer components {
  .bg-primary {
    @apply bg-[#111223];
  }

  .text-primary {
    @apply text-[#2B2B2B];
  }

  .text-secondary {
    @apply text-[#8566FF];
  }

  .btn-primary {
    @apply inline-block px-6 py-2 bg-[#2B2B2B] text-white hover:bg-white hover:text-black border hover:border-black transition-colors text-base cursor-pointer;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
